@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

:root {
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 178, 182, 191;
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow: 0 2px 6px rgba(var(--gray), 25%),
    0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);

  --transition: all ease-in-out 0.15s;
  --text-glow: rgba(255, 255, 255, 0.45) 0px 0px 26px;

  --red-gradient: linear-gradient(
    45deg,
    red,
    orange 55%,
    yellow 80%
  );
}

html {
  font-family: "Onest", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0;
  background: #13151a;
  background-size: 224px;
}

main {
  margin: auto;
  padding: 1rem;
  width: 800px;
  max-width: calc(100% - 2rem);
  color: white;
  font-size: 20px;
  line-height: 1.6;
  cursor: default;
  flex: 1;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 1em;
}

.text-gradient {
  background-image: var(--accent-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  background-position: 0%;
  transition: var(--transition);
}

.text-gradient:hover {
  background-position: 100%;
  color: white;
  text-shadow: var(--text-glow);
}

a {
  transition: var(--transition);
  cursor: grab;
}

a:link {
  color: rgb(var(--accent-light));
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(var(--accent-light));
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(var(--accent-gradient));
  text-decoration: underline;
  text-shadow: var(--text-glow);
}

a:active {
  color: rgb(var(--accent-gradient));
  background-color: transparent;
  text-decoration: underline;
}

strong,
b {
  font-weight: 700;
}

p {
  margin-bottom: 1em;
}

textarea {
  width: 100%;
  font-size: 16px;
}

input {
  font-size: 16px;
}

table {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

code {
  padding: 2px 5px;
  background-color: rgb(var(--gray-dark));
  border-radius: 2px;
}

pre {
  padding: 1.5em;
  border-radius: 8px;
}

pre > code {
  all: unset;
}

blockquote {
  margin: 0;
  padding: 0 1em;
  color: rgba(var(--gray-light), 55%);
  border-left: solid rgba(var(--gray-dark), 55%);
  border-width: 0 0.25em;
}

hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-dark));
}

.hr-alt {
  border: none;
  border-top: 1px solid rgb(var(--gray-light), 25%);
}

.project-item-header {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-item-paragraph {
  color: rgb(var(--gray-light));
  margin: 0;
  padding: 0;
}

.project-item-header-date {
  margin-left: auto;
  color: rgb(var(--gray-dark));
}

.project-item-header-author {
  color: rgb(var(--gray-light));
  margin-left: 10px;
}

.project-item-header-icon {
  color: rgb(var(--gray-light));
  margin-left: 10px;
  margin-right: auto;
}

.project-category-header {
  color: rgb(var(--gray-light));
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.navbar {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links {
  margin: 0;
  padding: 0;
}

.navbar-socials {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar-socials:hover {
  text-decoration: none;
}

.color-gray-light {
  color: rgb(var(--gray-light));
}

.index-callout {
  margin: 0;
  padding: 10px 0px 20px 0px;
}

.index-callout-main {
  margin: 0;
  padding: 0;
}

.index-callout-sub {
  margin: 0;
  padding: 0;
}

.index-projects-header {
  margin: 0;
  padding: 0;
}

.index-projects-spacing {
  margin-top: 30px;
}

@media screen and (max-width: 480px) {
  .show-on-desktop {
    display: none;
  }

  .mobile-spacing {
    margin-top: 32px;
  }
}

@media screen and (min-width: 481px) {
  .hide-on-desktop {
    display: none;
  }
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(var(--black));
  overflow-x: hidden;
  transition: var(--transition);
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  font-size: 36px;
  display: block;
  transition: var(--transition);
}

.overlay .closebtn {
  position: absolute;
}

@media screen and (max-height: 480px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    top: 15px;
    right: 35px;
  }
}

.top-right {
  position: fixed;
  top: 1em;
  right: 1em;
}

.no-spacing {
  margin: 0px;
  padding: 0px;
}

.no-spacing-but-top {
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}

.no-spacing-but-left {
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding: 0px;
}

.faq-question {
  transition: var(--transition);
  color: rgb(var(--accent-light));
}

.faq-question:hover {
  cursor: pointer;
  color: white;
}

.faq-answer {
  display: none;
  margin-left: 24px;
}

.faq-answer-ident {
  margin-left: 24px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding: 0px;
}

.white-hover {
  transition: var(--transition);
}

.white-hover:hover {
  color: white;
}

.glow-hover {
  transition: var(--transition);
}

.glow-hover:hover {
  text-shadow: var(--text-glow);
}

.color-white {
  color: white;
}

.profile-picture {
  border-radius: 50%;
  width: 45px;
}

.profile-page-profile-picture {
  border-radius: 50%;
  width: 25px;
  display: inline-block;
  vertical-align: middle;
  transform: translateY(-5px);
}

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 0px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  float: right;
  position: relative;
  transition: var(--transition);
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, .65);
  right: 0;
  z-index: 1;
  color: white;
  border-radius: 5%;
  border-style: solid;
  border-color: rgb(var(--gray-light), 5%);
}

.dropdown-content a,.sign-out-button {
  padding: 12px 16px;
  display: block;
}


.dropdown a:hover {
  background-color: rgb(var(--gray-light), 25%);
}

.show {
  display: block;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  padding: 20px;
  text-align: center;
  margin: auto;
  padding: 1rem;
  width: 800px;
  max-width: calc(100% - 2rem);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.footer-content {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.footer-left {
  margin: 0;
  padding: 0;
}

.footer-right {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.spacing {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sign-out-button-center-parent {
  display: flex;
  justify-content: left;
}

.sign-out-button {
  border: none;
  background: transparent;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: var(--transition);
  cursor: grab;
  font-weight: bold;
  color: rgb(var(--accent-light));
  background-color: transparent;
  background-image: var(--red-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1;
}

.sign-out-button:hover {
  color: rgb(var(--accent-gradient));
  text-shadow: var(--text-glow);
  background-position: 100%;
  color: white;
  -webkit-text-fill-color: white;
}

.auth-button {
  border: none;
  background: transparent;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: var(--transition);
  cursor: grab;
  font-weight: bold;
  color: rgb(var(--accent-light));
  background-color: transparent;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1;
  padding: 12px 16px;
}

.auth-button:hover {
  color: rgb(var(--accent-gradient));
  text-shadow: var(--text-glow);
  background-position: 100%;
  color: white;
  -webkit-text-fill-color: white;
}